@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Gupter:wght@400;500;700&family=Sankofa+Display&display=swap');
@font-face {
    font-family: "Sankofa Display";
    src: url(./Fonte/SankofaDisplay-Regular.ttf);
}

/* UNIVERSAL */
*{
   /* box-sizing: border-box; DEIXA DE ACORDO COM O CONTEUDO */
    font: normal 400 1.2em "Sankofa Display", sans-serif;
} 

h1{ 
    background-color: rgb(238, 130, 238);
    color: yellowgreen;
    text-align: center;
}
body{
    /* background-image: url(Fotos/foto.png); */
    background-size:  480vw 480vh;
    background-repeat: no-repeat;
    background-size: cover; /* DEIXA ELE INTEIRO SEM REPETIR, SE VOCÊ TIRAR ELE FICA REPETINDO NA TELA TODA */
    background-attachment: fixed;
    background-image: linear-gradient(to right, red, green, blue);
    /* TIPOS DE ESCOPO DE FONTE: EM, PX, REM 
    EM: RELATIVO A CONFIGURAÇÃO DO USUARIO (16 pixels)
    PX: NÃO ALTERA O TAMANHO, FICA ESTATICO 
    vw: relativo a tela do usuario (DINAMICO)
    vh: relativo a tela do usuario (DINAMICO
    
    /* font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: aqua;  
    
    TUDO EM UMA LINHA SÓ: style > weight > size > family */

}
/* ID É # PARA LOCALIZAR O P*/
/* CLASSE É . PARA LOCALIZAR O P*/

#pedro{
    background-color: slateblue;
}
.classe{
    background-color: yellow;
}

/* COMO UTILIZAR CLASSE PARA UMA VERTENTE SÓ*/
h1.classe{
    background-color: springgreen;
}

/* PARA PEGAR UM ESPECIFICO(DIRETAMENTO FILHO) SEM PRECISAR DE CLASSE OU ID */
li > strong {
    color: crimson;
}

/* PARA PEGAR UM DESCENDENTE (SEM NECESSARIAMENTE SER FILHO) SEM PRECISAR DE CLASSE OU ID */

a strong{
   color: skyblue;
}

.padding{
    margin: 50px; /*DIFERENÇA ENTRE UM CONTEUDO E O OUTRO*/
    /* TOP > RIGHT > BOTTOM > LEFT*/
    padding: 30px, 20px, 15px , 30px; /* DIFERENÇA ENTRE UM O PADDING E A MARGEM (O RESPIRO)*/
    border-width: 30px; /* DIFERENÇA ENTRE A BORDA E O PADDING*/
    border-radius: 50%;
    border: 30px solid darkgoldenrod; 
 }
/* ORDEM DA BOX DO CONTEUDO : MARGIN > BORDER > PADDING*/
.invisivel{
    display: none; /* DEIXA O VETOR INEXISTENTE*/
    /* visibility: hidden;  DEIXA O VETOR SEM VER MAS SE VOCE PASSAR A TELA POR CIMA VOCE CONSEGUE VER*/
    
}

.containerEstoque{
display: flex; /*DEIXA UM DO LADINHO DO OUTRO, GRID DEIXA EMBAIXO, IMPORTANTE DEIXAR NO PAI*/
flex-direction: row; /*1 A 4  / REVERSE ROW 4 A 1*/
justify-content:center; /*DEIXA ELE JUNTINHO COM CENTER START E DEIXA SEPARADO COM SPACE BETTWEN*/
height: 30vh;
align-items: start;
flex-wrap:wrap;
align-content: start;
gap: 5px;  /*Column-gap : 5px I  row - gap: 5px I gap: 5px */
}

.caixa{
width: 100px;
height: 100px;
text-align: center;
font-size: 3em;
/*min-width: 70px;*/


}
.um{
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.202); /*  direita > baixo > blur (INSET DEIXA TUDO PRA BAIXO)*/
text-shadow: 1px 1px 5px blue; /* OBEDECE AS MESMAS REGRAS DE  */
/*flex-shrink: 0;
flex-grow: 1;*/
}
.dois{
background-color: yellow;
}
.tres{
background-color:royalblue;
    }

/* PSEUDOCLASSE BOM PESQUISAR NO GOOGLE */
    
.tres:hover{
    width: 300px;
    height: 400px;
    background-color: var(--corNumero1); /* DECLARAÇÃO VARIAVEL */
}

.dois:visited{  
    background-color: purple;
}


/* PSEUDO ELEMENT BOM PESQUISAR NO GOOGLE */

.um::before{
    content: "*";
}

.um::after{
    content: "*";
}

.classe::first-letter{
    font-size: 2em;
}

/* CRIAÇÃO DE VAR NO CSS */
:root{
/* PARA QUE TODOS TENHAM ACESSO */
    --corNumero1: red;
}
div>p{
    width: 100vw;
    height: 200px;

}/* SE QUISER DEIXAR NO FUNDO USE NO BODY */


/* RESPONSIVIDADE DE VIDEO */
.responsividadeVideo{
    position: relative;
    width: 100%;
    padding-top: 100%;
}
iframe{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
}

/* MEDIA QUERY */
.responsividadeDiv{
    width: 100px;
    height: 100px;
    background-color: red;
}
@media screen and (max-width: 600px){
    .responsividadeDiv{
        background-color: green;
    }
}

@media screen and (min-width: 600px){
    .responsividadeDiv{
        background-color: blue;
    }
}
@media screen and (min-width: 768px){
    .responsividadeDiv{
        background-color: yellow;
    }
}
@media screen and (min-width:992px){
    .responsividadeDiv{
        background-color: orange;
    }
}

